/* CSS for print */



@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600);

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans";
}

p{
    font-family: "Gentium Book Basic";
}


p.poem{
    font-family: Courier, monospace;
    whitespace: pre-wrap;
}

/* notas pie de página */

blockquote[id*="fn_"]{
    font-family: "Gentium Book Basic";
    border-left: 4em solid transparent !important;
    padding: 0 !important;
    line-height: 130%;
    font-size: .8em !important;
    margin: 0 0 0 !important;
    color: #000 !important;
}