/* CSS for print */



@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600);

h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans";
}

p{
    font-family: "Gentium Book Basic";
}


p.poem{
    font-family: Courier, monospace;
    whitespace: pre-wrap;
}